h1{
    color:darkblue;
    text-align: center;
}
body{
    margin-left:90px;
    margin-right:90px;
}
.none{
    text-align:center;
    font-weight:bold;
    background-color:darkblue;
    color:white;
}
h2{
    color: darkblue;
}
body{
   
    margin-left:90px;
    margin-right:90px;
}
ul{
    text-align: center;
    background-color: darkblue;
  
}
ul li{
    display:inline-block;
    padding:30px;
    font-weight: bold;
   
}
ul li a {
    text-decoration: none;
    color:white;
    font-size: 20px;
}
ul li a:hover{
    
    color:black;
    font-size: 20px;
    text-decoration: none;
    border:1px solid transparent;

}