h1{
    color:darkblue;
    text-align:center;

}
ul li{
    display:inline-block;
    padding:30px;
}
ul{
    text-align: center;
    background-color: darkblue;
    color:white;
}
ul li a:hover{
    color:white;
    background-color:black;

}