h1{
    color:darkblue;
    text-align:center;

}
ul li{
    display:inline-block;
    padding:30px;
    color:white;
    font-weight: bold;
}
ul{
    text-align: center;
    background-color: darkblue;
    color:white;
}
ul li a:hover{
    color:white;
    background-color:black;
}
.head2{
    display:flex;
    flex-direction:row;
}
#head{
    display: flex;
    justify-content:flex-end;
    text-align: center;
     padding:70px;
}
#photo{
    display:flex;
    flex-direction: column;
   justify-content: flex-start;
   top:30px;
   margin:40px;
}