h2{
    text-align:center;
    color:darkblue;
    
}
h1{
    color:darkblue;
    margin-left:250px;
}
body{
    background-color:white;
    margin-left:25%;
    margin-right:25%;

}
.contact{
    text-align:center;
    font-weight:bold;
    color:darkblue;
    margin:40px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  
  }
  .fa-facebook {
    color: skyblue;

  }
  .fa-instagram{
    color:palevioletred;
  }
  #fanny:hover a{
    transform :scale(1.3);
    color:#f1f1f1;
  }
  #footer{
    text-align:center;
  }
  .fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    height:40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  #fanny{
  text-align:center;
  color:white;
  }
  .footer{
    background-color:darkblue;
    
  }
   #mine{
       text-align: center;
   }
   ul{
    text-align: center;
    background-color: darkblue;
  
}
ul li{
    display:inline-block;
    padding:30px;
    font-weight: bold;
   
}
ul li a {
    text-decoration: none;
    color:white;
    background-color: darkblue;
    font-size: 20px;

}
ul li a:hover{
    
    color:black;
    font-size: 20px;
    text-decoration: none;
    border:1px solid transparent;

}